# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Mantém possíveis diretórios target internos de exemplos, se existirem
!**/src/main/**/target/
!**/src/test/**/target/

# Java
*.class
*.log
*.jar
*.war
*.ear

# Spring Boot
HELP.md

# H2 Database
*.db
*.mv.db
*.trace.db

### STS ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Variáveis locais
.env
.env.local
